---
import eccomerce from '../../public/exomerce.png';

---

<div class="flex flex-col md:flex-row items-start justify-between w-full px-10 py-20 items-center">
    <div class="md:w-3/4 px-4 flex flex-col gap-4 text-start">
        <h2 class="text-3xl font-bold text-start md:text-5xl">
            ¡Aprende con <br>    TransDigitalCoop!
        </h2>
        <h3 class="text-md  text-start md:text-lg text-gray-600">
            Descarga ya nuestras guías y aprende con nosotros.
        </h3>
        <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-40 ">
            Ver Ahora
        </button>
       </div>
    <div class="md:w-3/4 px-4 mt-10 md:mt-0 flex flex-col gap-8 text-center  rounded-lg bg-white shadow-2xl p-4 hover:scale-110 transition-all duration-300 ease-in-out">
       <img src={eccomerce.src} alt="Eccomerce" class="w-full h-auto " />
    </div>
</div>

