---
import Grupo from '../../public/Group16.png';
---


<section id="bg">
    <div class="flex flex-col justify-center items-center py-20" >
        <div class="">
            <h2 class="text-xl md:text-5xl font-bold text-center">
                Rutas de aprendizaje
            </h2>
            <hr class="w-full border-1 border-gray-400 ">
        </div>
        <div class="py-20 w-40">
            <img src={Grupo.src} alt="Grupo" class="w-full h-auto " />
            <span class="flex flex-col md:flex-row text-center text-xl   text-gray-600 py-10 ">
                Asociatividad Empresarial 4.0

            </span>
        </div>
    </div>
    


    
</section>

